/* Definindo variáveis de cor */
:root {
    --bg-color: #444654;
    --text-color: rgb(166, 217, 255);
}

/* Definindo estilos globais */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilizando .main-container */
.main-container {
    text-align: left;
    padding: 20px;
    background-color: var(--bg-color);
}

/* Estilizando o h1 */
.main-container h1 {
    font-size: 2rem;
    margin: 20px 0;
    text-align: center; /* Centralizar horizontalmente */
}

/* Estilizando botão "Register task" */
.btn-reg {
    display: block;
    margin: 30px auto 10px; /* Centralizar horizontalmente e ajustar margem superior e inferior */
    text-align: center; /* Centralizar texto horizontalmente */
    padding: 10px 20px;
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--bg-color);
    border: 2px solid var(--text-color);
    border-radius: 5px;
    transition: all 0.3s ease;
    width: 150px;
}

/* Hover sombreado para botão "Register task" */
.btn-reg:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

/* Estilizando a tabela */
.container {
    margin-top: 20px;
    /*background-color: #202123; /* Cor de fundo desejada */
    border-radius: 10px; /* Cantos arredondados */
    padding: 20px; /* Espaçamento interno para afastar a tabela das bordas da div */
    max-width: 800px; /* Largura máxima da div */
    margin: 0 auto; /* Centralizar a div horizontalmente */
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid var(--text-color);
}

th, td {
    padding: 10px;
    text-align: left;
}

/* Estilizando o botão "Run task" na tabela */
.btn-run, .btn-del, .btn-det {
    background-color: black;
    color: var(--text-color);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}

/* Hover sombreado para botão "Run task" */
.btn:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

/* Estilizando os botões dentro da tabela */
table button, a {
    font-size: 18px;
    padding: 5px 10px;
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 2px solid var(--text-color);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Hover sombreado para os botões dentro da tabela */
table button:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

table a:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
